<div class="card mb-4" [ngStyle]="{'width': cardSize }">
  <div class="card-body d-flex flex-column justify-content-center align-items-center">
    <h6 class="card-title">
      {{movie?.title}}
    </h6>
    <!-- <p class="card-subtitle mb2">{{movie?.overview}}</p> -->
    <div class="row">
      <div class="col-12 d-flex mt-4">


        <button (click)="onBtnClick('addToFavorites')" class="btn btn-secondary">
          <i class="fas fa-heart mr-1"></i><span>Favorites</span>
        </button>

        <div style="width: 20px"></div>

        <button (click)="onBtnClick('addToFavorites')" class="btn btn-primary">
          <i class="fa fa-eye mr-1"></i><span>View</span>
        </button>

      </div>
    </div>

  </div>
</div>