<app-overlay></app-overlay>
<app-heading heading="Favorites"></app-heading>

<app-filter-box (onFilterText)="onFilterText($event)"></app-filter-box>

<div class="row" *ngIf="(favorites$ | async) as favorites; else showSpinner">
  <div class="col-xs-12 col-sm-11 mx-auto">
    <div class="d-flex justify-content-around flex-wrap">
      <app-card *ngFor="let movie of favorites | filterList: filterListBy" (handleLeftBtnClick)="handleView($event)"
        (handleRightBtnClick)="removeFromFavorites($event)" [data]="movie" [leftBtn]="leftBtn" [rightBtn]="rightBtn">
      </app-card>
    </div>
  </div>
</div>


<ng-template #showSpinner>
  <app-spinner></app-spinner>
</ng-template>