<div class="row">
  <div class="col-xs-12 col-sm-10 mx-auto">
    <div class="card card-body">
      <div class="row">


        <div class="col-xs-12 col-md-6">
          <img [src]="movie?.poster_path" class="img-fluid">
        </div>

        <div class="col-xs-12 col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Title: </strong><br><br>
              {{movie?.title}}
              <br><br>
            </li>
            <li class="list-group-item">
              <strong>Release Date: </strong><br><br>
              {{movie?.release_date}}
              <br><br>
            </li>
            <li class="list-group-item">
              <strong>Rating: </strong><br><br>{{movie?.vote_average}}
              <br><br>
            </li>
            <li class="list-group-item">
              <strong>Description: </strong><br><br>
              {{movie?.overview}}
              <br><br>
            </li>
            <li class="list-group-item" *ngIf="movie?.homepage">
              <strong>Home Page: </strong><br><br>
              <a href={{movie?.homepage}} target="_blank">{{movie?.homepage}}</a>
              <br><br>
            </li>
            <li class="list-group-item" *ngIf="!movie?.homepage">
              <strong>Home Page: </strong><br><br>
              {{movie?.homepage}}
              <br><br>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>