<div class="card mb-4" [ngStyle]="{'width': cardSize }">
  <div class="card-body d-flex flex-column justify-content-center align-items-center">
    <img [src]="data?.poster_path" class="card-img-top cardImg">

    <h6 class="card-title pt-2">
      <b>{{data?.title | truncateText: 20}}</b>
    </h6>
    <div class="row mt-2">
      <div class="col-12 d-flex">

        <button (click)="onLeftBtnClick()" class="btn btn-primary">
          <i [ngClass]="leftBtn?.icon" class="mr-2"></i><span>{{leftBtn?.text}}</span>
        </button>

        <div style="width: 15px"></div>

        <button (click)="onRightBtnClick()" class="btn btn-secondary">
          <i [ngClass]="rightBtn?.icon" class="mr-2"></i><span>{{rightBtn?.text}}</span>
        </button>

      </div>
    </div>

  </div>
</div>