<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

  <a *ngIf="($isLoggedIn | async)" class="navbar-brand" routerLink="/movies" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Movie
    Buddy</a>

  <a *ngIf="$isLoggedOut | async" class="navbar-brand" routerLink="/welcome" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Movie
    Buddy</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile">
    <!-- left hand links -->
    <ul class="navbar-nav mr-auto"></ul>
    <!-- right hand links -->
    <ul class="navbar-nav ml-auto" *ngIf="$isLoggedIn | async">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/movies">Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/movies/favorites">Favorites</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/matches">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active" (click)="logout()">
        <a class="nav-link">Logout</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="$isLoggedOut | async">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  </div>
</nav>